<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:user="urn:jsptagdir:/WEB-INF/tags/resources/user"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:buttons="urn:jsptagdir:/WEB-INF/tags/buttons"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bs"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:nav="urn:jsptagdir:/WEB-INF/tags/nav">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<layout:paneLayout pageTitle="${pageTitle}" headerMessageKey="navi.editTags" 
		headerLogoClass="editTags" command="${command}" requPath="${requPath}">
		
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.editTags"/>
		</jsp:attribute>
		
		<jsp:attribute name="headerExt">
			<script type="text/javascript" src="${resdir}/javascript/editPost.js"><!-- keep me --></script>
		</jsp:attribute>

		<jsp:attribute name="breadcrumbs">
			<nav:breadcrumbs>
				<jsp:attribute name="crumbs">
					<nav:account />
					<fmt:message key="navi.editTags" var="editTags"/>
					<nav:crumb name="${editTags}" active="true" />
				</jsp:attribute>
			</nav:breadcrumbs>
		</jsp:attribute>

		<jsp:attribute name="content">
			<h1 class="content-header"><fmt:message key="navi.editTagsAndConcepts"/></h1>

			<fmt:message var="reset" key="reset"/>

			<form:form cssClass="form-horizontal" action="/editTags" method="post">
				<fieldset>
					<legend><fmt:message key="edittags.main.Header"/></legend>
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<p><fmt:message key="edittags.main.textOne" /></p>
						</div>
					</div>
						
					<bsform:input path="editTags.delTags" labelColSpan="3" inputColSpan="9" />
					<bsform:input path="editTags.addTags" labelColSpan="3" inputColSpan="9" />
					<bsform:checkbox path="editTags.updateRelations" inputColSpan="9">
						<jsp:attribute name="labelText">
							<fmt:message key="editTags.updateRelations"/>
						</jsp:attribute>
					</bsform:checkbox>

					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<input type="hidden" name="ckey" value="${ckey}"/>
							<input type="hidden" name="forcedAction" value="1"/>
							<fmt:message var="replace" key="replace"/>
							<bsform:button type="submit" style="primary" size="defaultSize" value="${replace}" />
							<c:out value=" "/>
							<bsform:button type="reset" style="defaultStyle" size="defaultSize" value="${reset}"/>
						</div>
					</div>
					
					<c:if test="${command.updatedTagsCount > 0}">
						<div class="col-sm-5">	
							<bs:feedback style="success" size="defaultSize" >
								<jsp:attribute name="feedbackBody">
									<fmt:message key="edittags.update.resources"> 
										<fmt:param>${command.updatedTagsCount}</fmt:param>
									</fmt:message>
								</jsp:attribute>
							</bs:feedback>
						</div>
					</c:if>

				</fieldset>
			</form:form>

			<form:form cssClass="form-horizontal" action="/editTags" method="post">
				
				<fieldset>
					<legend><fmt:message key="edittags.main.insertRelationsOne" /></legend>
					
					<bsform:input path="relationsEdit.upper" labelColSpan="3" inputColSpan="9"/>
					<bsform:input path="relationsEdit.lower" labelColSpan="3" inputColSpan="9"/>
					
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-3">
							<input type="hidden" name="ckey" value="${ckey}"/>
							<input type="hidden" name="forcedAction" value="2"/>
							<input type="hidden" name="relationsEdit.forcedAction" value="0"/>
							<fmt:message var="insert" key="insert"/>
							<bsform:button type="submit" style="primary" size="defaultSize" value="${insert}" /><c:out value=" "/>
							<bsform:button type="reset" style="defaultStyle" size="defaultSize" value="${reset}"/>
						</div>
					</div>
				</fieldset>
				
			</form:form>

			<form:form cssClass="form-horizontal" action="/editTags" method="post">
				<fieldset>
				
					<legend><fmt:message key="edittags.main.deleteRelationsOne" /></legend>
					
					<bsform:input path="relationsEdit.upper" labelColSpan="3" inputColSpan="9" >
						<jsp:attribute name="helpText">
							<fmt:message key="relationsEdit.lower.help.delete"/>
						</jsp:attribute>
					</bsform:input>
					
					<bsform:input path="relationsEdit.lower" labelColSpan="3" inputColSpan="9"/>
					
					<div class="form-group">
						<fmt:message var="deleteRelation" key="edittags.button.deleteRelations"/>
						
						<div class="col-sm-offset-3 col-sm-3">
							<input type="hidden" name="ckey" value="${ckey}"/>
							<input type="hidden" name="forcedAction" value="2"/>
							<input type="hidden" name="relationsEdit.forcedAction" value="1"/>
							<fmt:message var="delete" key="delete"/>
							<bsform:button type="submit" style="primary" size="defaultSize" value="${delete}" /><c:out value=" "/>
							<bsform:button type="reset" style="defaultStyle" size="defaultSize" value="${reset}"/>
						</div>
					</div>
					
				</fieldset>
			</form:form>

		</jsp:attribute>

		<jsp:attribute name="sidebar">

			<sidebar:conceptsItem 
				usersOwnRelations="${true}" 
				requestedUserName="${command.context.loginUser.name}" 
				cmd="${command.concepts}" 
				disableEditLink="${true}"
				headingLink="${relativeUrlGenerator.getConceptsUrlByString(command.requestedUser)}"
				headingTitleKey="tagrelations.user.title"
				/>

			<sidebar:sidebarTagCloudItem requPath="user/${command.context.loginUser.name}" cmd="${command.tagcloud}" tagboxMinfreqStyle="user" tagSizeMode="user" showTooltips="${command.context.loginUser.settings.tagboxTooltip}" />

			<script type="text/javascript">
<![CDATA[
					// vanishing error boxes
					$(function() {
				disableHandler();
				add_toggle_relations();
				collectTags();
});

					
					// start tag autocompletion for the input fields
					$(function() {
		startTagAutocompletion($("#delTags"), false, true,false, false, false);
		startTagAutocompletion($("#addTags"), false, true,false, false, false);
		startTagAutocompletion($("#insert_up"), false, false, false, false, false);
		startTagAutocompletion($("#insert_lo"), false, true,false, false, false);
		startTagAutocompletion($("#delete_up"), false, false, false, false, false);
		startTagAutocompletion($("#delete_lo"), false, true,false, false, false);
					});
	
]]>			
			</script>
		</jsp:attribute>
	</layout:paneLayout>
</jsp:root>