<?xml version="1.0" ?>
<jsp:root version="2.0" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:spring="http://www.springframework.org/tags"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:user="urn:jsptagdir:/WEB-INF/tags/actions/user"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld">

	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<fmt:message key="navi.oauth.authorization" var="oAuthTitle" />
	
	<layout:paneLayout command="${command}" pageTitle="${oAuthTitle}" requPath="${requPath}" headerMessageKey="navi.oauth.authorization">
	
		<!--+
			| heading 
			+-->
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.oauth.authorization" />
		</jsp:attribute>

		<!--+
			| content
			+-->
		<jsp:attribute name="content">
			<p>
				<fmt:message key="oauth.authorization.success">
					<fmt:param>
						<c:out value="${command.appTitle}"/>
					</fmt:param>
					<fmt:param>
						<c:out value="${properties['project.name']}"/>
					</fmt:param>
				</fmt:message>
			</p>

			<p>
				<!-- keep me -->
				<c:if test="${command.entry.callbackToken != null}">
					<fmt:message key="oauth.authorization.callback.token">
						<fmt:param>
							<c:out value="${command.entry.callbackToken}"/>
						</fmt:param>
					</fmt:message>
				</c:if>
			</p>
		</jsp:attribute>
	</layout:paneLayout>
</jsp:root>