.bluebox{
	border: 1px solid #006699;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 804px;
}

.hidden {
display: none;
}
.visible {
display: block;
}

.bluebox h2{
    margin-left: 10px;
}
.adminNavi{
    width: 824px;
}

#recommenderEditDiv{
    display: none;
}

#rectable {
	font-size: 60%;
	border-collapse: collapse;
	empty-cells: show;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 5px;
	width: 95%;
}

#queriesPerLatency{
    margin-left: 10px;
	margin-right: 10px;
}
.bluebox label{
    margin-left: 0;
}
label[for="queriesPerLatency"]{
   margin-left: 10px;	
}
#selectedTab{
    background-color: #ddd;
}

.adminNavi{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
}
.adminNavi a {
   padding-right: 10px;
   padding-left: 10px;
   letter-spacing: 0px;
   border-right: 1px solid #BBBBBB;
}

#rectable th {
	font-weight: bold;
	background-color: #EEEEEE;
	border: 1px solid #CCCCCC;
	padding: 2px;
	text-align: center;
	font-size: 100%;
}

#rectable td {
	border: 1px solid #CCCCCC;
	padding: 3px;
}


.adminNavi{ margin-bottom: 20px
}

.compound, .activationCompound{
    position: relative;
    width: 800px;
    overflow: visible;
    margin-left: 10px;
}

.compound input[type="submit"], .recActivationBtn{
	clear: left;
	margin-top: 5px;
	float: right;
}

.compound input[type="submit"], .recEditBtn{
	clear: left;
	margin-top: 5px;
	float: right;
}

.compound input[type="submit"], .recRemoveBtn{
	clear: left;
	margin-top: 5px;
	float: right;
}

.subcompound {
	width:380px;
	padding-right: 5px;
	display:inline-block;
}

#recEditBtn{
	display: block;
	margin-top: 5px;
	position: absolute;
	right: 80px;
}
#recRemoveBtn{
    width: 75px;
}

input[name="newrecurl"]{
    width: 100%;
}

#buttondiv {
    float:left;
    margin: 10px;
    margin-top: 112px;
}

.activateBtn{
    display:block;
    margin-bottom:10px;
}

#buttondiv input{
    margin-left: 0px;
    margin-right: 0px;
}

form[name="recConfig"] select{
	width: 363px;
}

select[name="deleteRecIds"]{
    width: 100%;
}

hr{
  border-style: none;
  border-top: 1px solid #CCCCCC;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bluebox input[type="text"], .bluebox select{
  border: 1px solid #AAAAAA;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.bluebox select{	
  font-size: 10px;
  font-family: monospace;
  font-weight: normal;
}

.floatleft{
	float:left;
}