<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:bsform="urn:jsptagdir:/WEB-INF/tags/bs/form"
	xmlns:bs="urn:jsptagdir:/WEB-INF/tags/bs"
	xmlns:errors="urn:jsptagdir:/WEB-INF/tags/errors"
	xmlns:buttons="urn:jsptagdir:/WEB-INF/tags/buttons"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<layout:paneLayout pageTitle="${command.pageTitle}" requPath="${requPath}" command="${command}" headerMessageKey="joinGroup">
		<!--+
		 	| heading
		 	+-->
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.search" formAction="/search" formInputName="search"/>
		</jsp:attribute>

		<!--+
		 	| content
		 	-->
		<jsp:attribute name="content">
				<h1 class="content-header">
					<fmt:message key="navi.join">
						<fmt:param>${command.group}</fmt:param>
					</fmt:message>
				</h1>
				
				<bs:alert style="info">
					<jsp:attribute name="alertBody">
						<fmt:message key="joinGroup.info" />
					</jsp:attribute>
				</bs:alert>
				
				<form:form action="/joinGroup" method="POST" cssClass="form-horizontal">
					<errors:global />
					
					<form:hidden path="group" />
					<input type="hidden" name="ckey" value="${command.context.ckey}"/>
					<form:hidden path="joinRequest" value="true" />
					
					<bsform:textarea path="reason" labelKey="joinGroup.reason" labelColSpan="3" required="${true}">
						<jsp:attribute name="helpText">
							<fmt:message key="joinGroup.reason.hint" />
							<fmt:message key="joinGroup.reason.hint.appendix">
								<fmt:param value="${command.reasonMaxLen}" />
							</fmt:message>
						</jsp:attribute>
					</bsform:textarea>
					
					<bsform:captcha inputColSpan="9"/>
					
					<bsform:checkbox path="userSharedDocuments" labelKey="joinGroup.userSharedDocuments" labelText="joinGroup.userSharedDocuments" inputColSpan="9">
						<jsp:attribute name="helpText">
							<fmt:message key="joinGroup.userSharedDocuments.hint" />
						</jsp:attribute>
					</bsform:checkbox>
					
					<fmt:message key="joinGroup.action" var="buttonValue" />
					<div class="form-group">
						<div class="col-sm-offset-3 col-sm-9">
							<bsform:button value="${buttonValue}" type="submit" style="primary" size="defaultSize" />
						</div>
					</div>
				</form:form>
				<br />
		</jsp:attribute>
		
	</layout:paneLayout>
</jsp:root>