<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:user="urn:jsptagdir:/WEB-INF/tags/resources/user"
	xmlns:users="urn:jsptagdir:/WEB-INF/tags/users"
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />
	
	<layout:resourceLayout pageTitle="${command.pageTitle}" command="${command}" requPath="personalized/${requPath}" activeTab="${(command.requestedUser eq command.context.loginUser.name) ? 'my' : ''}">
	
		<!-- include javascript -->
		<jsp:attribute name="headerExt">
			<script type="text/javascript" src="${resdir}/javascript/userRelation.js"><!-- keep me --></script>
		</jsp:attribute>
	
		<!-- create menu -->
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.user" >
				<jsp:attribute name="pathPart">
					<a href="${relativeUrlGenerator.getUserUrlByUserName(command.requestedUser)}">@<c:out value='${command.requestedUser}'/></a> <span style="font-size:65%"><c:out value=" "/>(<fmt:message key="personalized"/>)</span>
				</jsp:attribute>
			</parts:search>
		</jsp:attribute>
		
		<!--  create sidebar -->
		<jsp:attribute name="sidebar">
				<!-- we need to switch if the user already follows this user or not 
				<c:if test="${command.context.loginUser.name != command.requestedUser}">
				<c:choose>
					<c:when test="${command.followerOfUser}">
					<div style="margin-top: 10px">
						<div id="removeLink">
							<fmt:message key="follow.info.text2"/>
							<a style="cursor: pointer;" onclick="javascript:removeFollower('${command.requestedUser}', '${command.context.ckey}');"><fmt:message key="follow.link.text.remove"/></a>
						</div>
						<div id="followLink" style="visibility:hidden; display:none">
							<fmt:message key="follow.info.text1"/>
							<a style="cursor: pointer;" onclick="javascript:addFollower('${command.requestedUser}', '${command.context.ckey}');"><fmt:message key="follow.link.text.follow"/></a>
						</div>
					</div>
					</c:when>
					<c:otherwise>
					<div style="margin-top: 10px">
						<div id="removeLink" style="visibility:hidden; display:none">
							<fmt:message key="follow.info.text2"/>
							<a style="cursor: pointer;" onclick="javascript:removeFollower('${command.requestedUser}', '${command.context.ckey}');"><fmt:message key="follow.link.text.remove"/></a>							
						</div>
						<div id="followLink">
							<fmt:message key="follow.info.text1"/>
							<a style="cursor: pointer;" onclick="javascript:addFollower('${command.requestedUser}', '${command.context.ckey}');"><fmt:message key="follow.link.text.follow"/></a>
						</div>
					</div>
					</c:otherwise>
				</c:choose>
				<br/>
				</c:if>
				-->
			<!-- display user's tag relations 
			<li>
				<c:set var="tagRelationsTitle"><fmt:message key="tagrelations.title"/></c:set>
				<span class="sidebar_h">
					TODO: use url generator for link
					<a href="/concepts/${fn:escapeXml(command.requestedUser)}" title="${tagRelationsTitle}">
						<fmt:message key="tagrelations"/>
					</a>
				</span>	
				<tags:concepts cmd="${command.concepts}" usersOwnRelations="${command.context.loginUser.name eq command.requestedUser}" requestedUserName="${command.requestedUser}"/>
			</li>
			-->
			<!-- display tags -->
			<sidebar:sidebarItem textKey="tags" >
				<jsp:attribute name="content">
					<fmt:message key="personalized.tag.info">
						<fmt:param>
							<user:username username="${command.requestedUser}" />
						</fmt:param>
					</fmt:message>
					<tags:cloud requPath="${requPath}" cmd="${command.tagcloud}" tagSizeMode="home" showTooltips="${command.context.loginUser.settings.tagboxTooltip}" suppressTitle="${true}"/>
				</jsp:attribute>
			</sidebar:sidebarItem>
			
			<!-- TODO: extract tagx file see user.jspx -->
			<c:if test="${not empty command.relatedUserCommand.relatedUsers}">
				<!-- display similar users -->
				<sidebar:sidebarItem>
					<jsp:attribute name="text">
						<fmt:message key="users.similar.for">
							<fmt:param>
								<user:username username="${command.requestedUser}" noLink="${true}" />
							</fmt:param>
						</fmt:message>
					</jsp:attribute>
					<jsp:attribute name="content">
						<ul class="list-inline sidebar-setting-box clearfix">
							<li>(<a href="${mtl:setParam(requPathAndQuery, 'userSimilarity', mtl:toggleUserSimilarity(command.userSimilarity)) }"><fmt:message key="more"/>...</a>)</li>
						</ul>
						<users:related cmd="${command.relatedUserCommand}" personalized="${true}" userSimilarity="${command.userSimilarity}"/>
					</jsp:attribute>
				</sidebar:sidebarItem>
			</c:if>
		</jsp:attribute>
		
		<!--  heading for the content pane of the given page -->
		<jsp:attribute name="infobox">
			<c:if test="${command.context.loginUser.name != command.requestedUser}">
				<parts:infobox>
					<jsp:attribute name="infoTextBody">
						<fmt:message key="followersPage.contentHeading">
							<fmt:param>
								<user:username username="${command.requestedUser}" />
							</fmt:param>
						</fmt:message>
						${mtl:ch('nbsp')}
						<!-- TODO: discuss follower
							<c:choose>
							<c:when test="${command.followerOfUser}">
								<span id="removeLink">
									<a style="cursor: pointer;" 
									   onclick="javascript:updateUserRelation('remove','${command.requestedUser}', 'sys:network:bibsonomy-follower', '${command.context.ckey}');return false;"
									   href="/ajax/handleUserRelation?requestedUserName=${command.requestedUser}&amp;action=removeFollower&amp;ckey=${ckey}&amp;forward=personalized/user/${command.requestedUser}">
									   <fmt:message key="follow.link.text.removeLong"/></a>
								</span>
								<span id="followLink" style="visibility:hidden; display:none">
									<fmt:message key="follow.info.text1"/>
									<a style="cursor: pointer;" 
									   onclick="javascript:updateUserRelation('add','${command.requestedUser}', 'sys:network:bibsonomy-follower', '${command.context.ckey}');return false;"
									   href="/ajax/handleUserRelation?requestedUserName=${command.requestedUser}&amp;action=addFollower&amp;ckey=${ckey}&amp;forward=personalized/user/${command.requestedUser}">
									   <fmt:message key="follow.link.text.followLong"/></a>
								</span>
							</c:when>
							<c:otherwise>
								<span id="removeLink" style="visibility:hidden; display:none">
									<a style="cursor: pointer;" 
									   onclick="javascript:updateUserRelation('remove','${command.requestedUser}', 'sys:network:bibsonomy-follower', '${command.context.ckey}');return false;"
									   href="/ajax/handleUserRelation?requestedUserName=${command.requestedUser}&amp;action=removeFollower&amp;ckey=${ckey}&amp;forward=personalized/user/${command.requestedUser}">
									   <fmt:message key="follow.link.text.removeLong"/></a>
								</span>
								<span id="followLink">
									<a style="cursor: pointer;"
									   onclick="javascript:updateUserRelation('add','${command.requestedUser}', 'sys:network:bibsonomy-follower', '${command.context.ckey}');return false;"
									   href="/ajax/handleUserRelation?requestedUserName=${command.requestedUser}&amp;action=addFollower&amp;ckey=${ckey}&amp;forward=personalized/user/${command.requestedUser}">
									   <fmt:message key="follow.link.text.followLong"/></a>
								</span>
							</c:otherwise>
						</c:choose> -->
					</jsp:attribute>
				</parts:infobox>
			</c:if>
		</jsp:attribute>
		
	</layout:resourceLayout>

</jsp:root>